# Single output configuration. String after semicolon must match output's name.
[output:eDP-1]
# Set logical (layout) coordinates for this screen
x = 0
y = 0

[output:DP-1]
x = 1920
y = 0

# Screen transformation
# possible values are:
# '90', '180' or '270' - rotate output by specified angle clockwise
# 'flipped' - flip output horizontally
# 'flipped-90', 'flipped-180', 'flipped-270' - flip output horizontally
#                                              and rotate by specified angle
rotate = 90

[cursor]
# Restrict cursor movements to single output
map-to-output = eDP-1
# Restrict cursor movements to concrete rectangle
geometry = 4480x2520

# Single device configuration. String after semicolon must match device's name.
[device:PixArt Dell MS116 USB Optical Mouse]
## Restrict cursor movements for this mouse to single output
map-to-output = VGA-1
## Restrict cursor movements for this mouse to concrete rectangle
geometry = 4480x2520

[keyboard]
meta-key = Alt

# Keybindings
# Maps key combinations with commands to execute
# Use the prefix "exec" to execute a shell command
[bindings]
 # Stop the compositor
Alt+e = exit
# Close the current view
Alt+q = close
Alt+m = exec weston-terminal
Alt+Tab = next_window
